<br>
<h1>My Time Card Records</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Datetime</th>
        <th>Type</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Address</th>

        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @marks.each do |mark| %>
      <tr>
        <td><%= mark.created_at.to_s(:short) %></td>
        <td><%= mark.mark_type %></td>
        <td><%= mark.latitude %></td>
        <td><%= mark.longitude %></td>
        <td><%= mark.address %></td>
        <td><%= link_to 'Show', mark %></td>
        <td><%= link_to 'Map', "http://maps.google.com/maps?&z=18&q=#{mark.latitude}+#{mark.longitude}&ll=#{mark.latitude}+#{mark.longitude}", target: :new %></td>
        <td><%= link_to 'Destroy', mark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Card-entry', new_mark_path %>
