<br>
<h1>My Time Card Records</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th>Datetime</th>
        <th>Type</th>
        
        <th>Address</th>

        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @marks.each_with_index do |mark, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= mark.created_at.to_s(:short) %></td>
        <% if mark.mark_type == 'In' %>
        <td><%= image_tag("up-blue-arrow.png", size: '16x16') %><%= mark.mark_type %></td>
        <% else %>
        <td><%= image_tag("up-green-arrow.png", size: '16x16') %><%= mark.mark_type %></td>
        <% end %>
        
        
        <td><%= mark.address %></td>
        <td><%= link_to 'Show', mark %></td>
        <td><%= link_to 'Map', "http://maps.google.com/maps?&z=18&q=#{mark.latitude}+#{mark.longitude}&ll=#{mark.latitude}+#{mark.longitude}", target: :new %></td>
        <td><%= link_to 'Destroy', mark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%== pagy_bootstrap_nav(@pagy) %>

<br>

<%= link_to 'New Card', new_mark_path %>
