<%= content_for :head do %>
    <script type="text/javascript">

     function success(position)
     {
         document.getElementById('longitude').value = position.coords.longitude;
         document.getElementById('latitude').value = position.coords.latitude;
          const uluru =
          {
            //lat: -25.344, lng: 131.036
            lat: position.coords.latitude, lng: position.coords.longitude
          };
            // The map, centered at Uluru
          const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 18,
          center: uluru,
          });
          // The marker, positioned at Uluru
          const marker = new google.maps.Marker({
          position: uluru,
          map: map,
          });
     }

     function fail()
     {
        // Could not obtain location
     }

      // Initialize and add the map
      function initMap()
      {

        if( navigator.geolocation )
        {
          // Call getCurrentPosition with success and failure callbacks
          navigator.geolocation.getCurrentPosition( success, fail );
          // The location of Uluru

        }
        else
        {
           alert("Sorry, your browser does not support geolocation services.");
        }

      }

    </script>
<% end %>
<br>
<h1>New Mark</h1>

<div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBHs0Uq8KxUyzbGbMvEnV7QOG3lSpekHg&callback=initMap&libraries=&v=weekly&channel=2"
      async
    ></script>
  </body>
</html>


<%# <%= render 'form', mark: @mark %>
<%= form_with(model: @mark) do |form| %>
  <% if @mark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mark.errors.count, "error") %> prohibited this mark from being saved:</h2>

      <ul>
        <% mark.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :mark_type, id: :mark_type, hidden: true %>
  </div>

  <div class="field">
    <%= form.text_field :latitude, id:'latitude', hidden: true %>
  </div>

  <div class="field">
    <%= form.text_field :longitude, id:'longitude', hidden: true %>
  </div>

  <%# <div class="field">
    <%= form.label :address %>
    <%# <%= form.text_field :address %>
  <%# </div> %>

  <div class="row m-1">
    <div class="actions m-1 btn-group btn-block">
      <%= form.button "Mark Entry", class:'btn btn-primary m-1', data: { confirm: "Are you sure?" }, onClick:"markEntry();" %>
      <%= form.button "Mark Exit", class:'btn btn-success m-1', data: { confirm: "Are you sure?" }, onClick:"markExit();" %>
    </div>
  </div>

<% end %>

<%= link_to 'See my marks', marks_path %>

<script>
  function markEntry(params) {
    document.getElementById('mark_type').value = "entry"
  }
  function markExit(params) {
    document.getElementById('mark_type').value = "exit"
  }

</script>
