<%= content_for :head do %>
    <script type="text/javascript">


     function success(position)
     {

         document.getElementById('longitude').value = position.coords.longitude;
         document.getElementById('latitude').value = position.coords.latitude;
         alert(document.getElementById('latitude').value);
          const uluru =
          {
            //lat: -25.344, lng: 131.036
            lat: position.coords.latitude, lng: position.coords.longitude
          };
            // The map, centered at Uluru
          const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 18,
          center: uluru,
          });
          // The marker, positioned at Uluru
          const marker = new google.maps.Marker({
          position: uluru,
          map: map,
          });
     }

     function fail()
     {
        // Could not obtain location
     }

      // Initialize and add the map
      function initMap()
      {

        if( navigator.geolocation )
        {
          // Call getCurrentPosition with success and failure callbacks
          navigator.geolocation.getCurrentPosition( success, fail );
          // The location of Uluru
          // const uluru = { lat: -25.344, lng: 131.036 };


        }
        else
        {
           alert("Sorry, your browser does not support geolocation services.");
        }


      }


    </script>
<% end %>

<h1>New Mark</h1>

<div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBHs0Uq8KxUyzbGbMvEnV7QOG3lSpekHg&callback=initMap&libraries=&v=weekly&channel=2"
      async
    ></script>
  </body>
</html>


<%# <%= render 'form', mark: @mark %>
<%= form_with(model: @mark) do |form| %>
  <% if @mark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mark.errors.count, "error") %> prohibited this mark from being saved:</h2>

      <ul>
        <% mark.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mark_type %>
    <%= form.text_field :mark_type %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id:'latitude' %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id:'longitude' %>
  </div>

  <%# <div class="field">
    <%= form.label :address %>
    <%# <%= form.text_field :address %>
  <%# </div> %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to 'Back', marks_path %>
