<br>
<% if @mark.mark_type.capitalize == 'In' %>
<div class="jumbotron" style='background-color:#a5cddf'>
  <% else %>
  <div class="jumbotron" style='background-color:#b6e3c0'>
  <% end %>

  <h2 class="display-6  ">Time card record for user: <%= current_user.full_name %></h2>
  <br>
  <p class="lead">
    <strong>Type:</strong>    
    <%= @mark.mark_type.capitalize %>
  </p>
  <p class="lead">
    <strong>Purchase Order:</strong>    
    <%= @mark.purchaseorder %>
  </p>
  <p class="lead">    
    <strong>Datetime:</strong>
    <%= @mark.created_at.to_s(:long) %>
  </p>
  
  <p class="lead">    
    <strong>Address:</strong>
    <%= @mark.address %>
  </p>
  
  <p class="lead">    
    <strong>Latitude:</strong>
    <%= @mark.latitude %>
  </p>
  <p class="lead">    
    <strong>Longitude:</strong>
    <%= @mark.longitude %>
  </p>
  <p class="lead">    
    <strong>Show:</strong>
    <%= link_to 'Map', "http://maps.google.com/maps?&z=18&q=#{@mark.latitude}+#{@mark.longitude}&ll=#{@mark.latitude}+#{@mark.longitude}", target: :new %>
  </p>

  <hr class="my-4">  
  <%= link_to 'Back', :back , class: 'btn btn-info btn-lg' %>
</div>