<br>
<div class="jumbotron">
  <h2 class="display-6  ">Time card record</h2>
  <br>
  <p class="lead">
    <strong>Type:</strong>
    <%= @mark.mark_type.capitalize %>
  </p>
  <p class="lead">    
    <strong>Datetime:</strong>
    <%= @mark.created_at.to_s(:long) %>
  </p>
  
  <p class="lead">    
    <strong>Address:</strong>
    <%= @mark.address %>
  </p>
  
  <p class="lead">    
    <strong>Latitude:</strong>
    <%= @mark.latitude %>
  </p>
  <p class="lead">    
    <strong>Longitude:</strong>
    <%= @mark.longitude %>
  </p>

  <hr class="my-4">  
  <%= link_to 'Back', marks_path, class: 'btn btn-primary btn-lg' %>
</div>