<%
=begin%>
 <%= content_for :head do %>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <link id="bsdp-css" href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>  
<% end %> 
<%
=end%>

<br>
<div class='form-group'>
<%= search_form_for @q, :url => search_hours_path do |f| %>
  
  <br>
  Search by:<br>
  <%= f.label :purchaseorder_cont, 'Purchase Order:' %>
  <%= f.search_field :purchaseorder_cont , class: 'form-control' %>
  <%= f.label :user_full_name_cont, 'Employee:' %>
  <%= f.search_field :user_full_name_cont , class: 'form-control' %>
  <%= f.label :date_gteq, 'Date Between:' %>
  <div class="input-daterange row" id='datepicker'>
    <div class="col"><%= f.date_field :created_at_gteq, class: 'form-control', placeholder:'Date >= to' %></div>
    <div class="col"><%= f.date_field :created_at_lteq, class: 'form-control', placeholder:'Date <= to' %></div>
  </div>
  
  <%
=begin%>
 <div class="input-daterange input-group" id="datepicker">
    <input type="text" class="input-sm form-control" name="start" />
    <span class="input-group-addon">to</span>
    <input type="text" class="input-sm form-control" name="end" />
  </div> 
<%
=end%>

  <div class= 'ml-1 form-check-input' > 
    <%= f.check_box :datetime_out_not_null, {}, 1, nil %>
    <%= f.label :datetime_out_not_null, 'Datetime out required', for: 'datetime-out-null', class: 'ml-1'  %>
  </div>  
  <br>
  <br>
  <%= f.submit class: "btn btn-primary", name: "" %>  
<% end %>
</div>
<br>
<br>
<h1>Employee Cards</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th>Employee</th>
        <th>PO</th>        
        <th>Datetime In</th>
        <th>Datetime Out</th>
        <th>Total Time</th>
        <th>Address</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @cards.each.with_index() do |card, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= card.user.full_name %></td>
        <td><%= card.purchaseorder %></td>
        <td><%= card.created_at.to_s(:db) %></td>
        <td>
          <%if card.datetime_out? %>
            <%= card.datetime_out.to_s(:db) %>
          <% end %>
        </td>
        <td>
          <% if card.datetime_out?  %>
            <%= Time.at((card.datetime_out - card.created_at).to_i.abs).utc.strftime "%H:%M" %> hours
            <% @hours_counter = Time.at(card.datetime_out - card.created_at).to_i %>            
            <% @total_seconds = @total_seconds + @hours_counter %>         
          <% end %>
        </td>        
        
        <td>        
          <%= card.address_in %>          
        </td>
        
        <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Map', "http://maps.google.com/maps?&z=18&q=#{card.latitude_in}+#{card.longitude_in}&ll=#{card.latitude_in}+#{card.longitude_in}", target: :new %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
      <tr class="table-info">
        <th scope="col"></th>
        <th></th>
        <th>Total Hours</th>        
        <th></th>
        <th></th>
        <th>
          <% seconds = @total_seconds % 60 %>
          <% minutes = (@total_seconds / 60) % 60 %>
          <% hours = @total_seconds / (60 * 60) %>
          <%= format("%02d:%02d:%02d", hours, minutes, seconds) %>
          <% Time.at(@total_seconds).utc.strftime "%H:%M"%>
        </th>
      
        <th></th>
        
        <th></th>        

        <th colspan="3"></th>
      </tr>

    </tbody>

  </table>
</div>
<br>