<h1>First home page</h1>
<p>Longitude: <%= @longitude %> </p>
<p>Latitude: <%= @latitude %> </p>
<p>Coordinates: <%= @coordinates %></p>
<p>Ip_address: <%= @ip_address %></p>
<p>Ip_address Coordinates: <%= @ip_coordinates %></p>

