<h1>First home page</h1>
<p>Longitude: <%= @longitude %> </p>
<p>Latitude: <%= @latitude %> </p>
<p>Coordinates: <%= @coordinates %></p>
<p><a href="https://maps.google.com/?ll=<%= @latitude %>,<%= @longitude %>">Link to the map</a> </p>

